<div class="login-wrapper">
  <form class="login" clrForm [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <section class="title">
      <h3 class="welcome">{{ "welcome_message" | translate }}</h3>
      {{ "app_name" | translate }}
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">{{ "form_email" | translate }}</label>
        <input
          name="email"
          class="clr-col-12"
          clrInput
          formControlName="email"
          [placeholder]="'form_email' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_email_required" | translate
        }}</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">{{ "form_password" | translate }}</label>
        <input
          name="password"
          clrPassword
          formControlName="password"
          class="keep-distance clr-col-12"
          [placeholder]="'form_password' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_password_required" | translate
        }}</clr-control-error>
        <clr-control-error *clrIfError="'strongPassword'">{{
          "form_strong_password" | translate
        }}</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">{{
          "form_confirm_password" | translate
        }}</label>
        <input
          name="confirmPassword"
          clrPassword
          formControlName="confirmPassword"
          class="keep-distance clr-col-12"
          [placeholder]="'form_confirm_password' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_error_confirm_password_required" | translate
        }}</clr-control-error>

        <clr-control-error *clrIfError="'mustMatch'">{{
          "form_must_match" | translate
        }}</clr-control-error>
      </clr-password-container>
      <app-alert
        *ngIf="message"
        class="custom-alert"
        [message]="message"
        [role]="alertRole"
        (close)="closeAlert()"
      ></app-alert>
      <app-button
        [type]="'submit'"
        [label]="'register_action' | translate"
        [loadingState]="registerBtnState"
        [classNames]="'btn btn-primary with-margin full-width'"
      ></app-button>
      <a [routerLink]="['/login']" class="signup">{{
        "already_have_credentials" | translate
      }}</a>
    </div>
  </form>
</div>
