<div class="login-wrapper">
  <form class="login" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <section class="title">
      <h3 class="welcome">{{ "welcome_message" | translate }}</h3>
      {{ "app_name" | translate }}
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">{{ "form_username" | translate }}</label>
        <input
          name="username"
          clrInput
          formControlName="username"
          [placeholder]="'form_username' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_error_required" | translate
        }}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">{{ "form_email" | translate }}</label>
        <input
          name="email"
          clrInput
          formControlName="email"
          [placeholder]="'form_email' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_error_required" | translate
        }}</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">{{ "form_confirm_password" | translate }}</label>
        <input
          name="confirmPassword"
          clrPassword
          formControlName="confirmPassword"
          class="keep-distance"
          [placeholder]="'form_confirm_password' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_error_confirm_password_required" | translate
        }}</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">{{ "form_password" | translate }}</label>
        <input
          name="password"
          clrPassword
          formControlName="password"
          class="keep-distance"
          [placeholder]="'form_password' | translate"
        />
        <clr-control-error *clrIfError="'required'">{{
          "form_error_required" | translate
        }}</clr-control-error>
      </clr-password-container>
      <div *ngIf="errorMessage" class="error active message-error">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary">
        {{ "register_action" | translate }}
      </button>
      <a [routerLink]="['/login']" class="signup">{{
        "already_have_credentials" | translate
      }}</a>
    </div>
  </form>
</div>
