.error-message {
    display: block;
    font-size: .55rem;
    margin-top: .1rem;
    line-height: .6rem;
    color: #c21d00;
    margin-left: .6rem;
}

label {
    display: none !important;
}

.clr-form-control {
    margin-bottom: .3rem !important;
}

.keep-distance {
    margin-top: 1.1rem;
}

