.average-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlight-price {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.3rem;
  vertical-align: bottom;
}

.with-align {
  align-items: center;
}

.total-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .highlight-price {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .img-wrapper {
    margin: 30px auto 30px auto;
  }
  .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.empty-state {
  max-height: 400px;
  max-width: 400px;
}

@media (max-width: 480px) {
  .price-info {
    display: flex;
    flex-direction: column;
  }
}
