<section *ngIf="!showEmptyState">
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-8 clr-col-md-12 clr-col-12">
      <dashboard-card
        [header]="'subscription_summary' | translate"
        [isLoaded]="isTotalSubsLoaded"
      >
        <div class="card-text average-cost">
          <div class="price-info">
            <span>{{ "annually" | translate }}:</span
            ><span class="highlight-price">R$ {{ priceInfo?.year }}</span>
          </div>
          <div class="price-info">
            <span>{{ "monthly" | translate }}:</span>
            <span class="highlight-price">R$ {{ priceInfo?.month }}</span>
          </div>
          <div class="price-info">
            <span>{{ "weekly" | translate }}:</span>
            <span class="highlight-price">R$ {{ priceInfo?.week }}</span>
          </div>
        </div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-2"></div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-4 clr-col-12 clr-col-sm-12">
      <dashboard-card
        [header]="'subscriptions_page' | translate"
        [isLoaded]="isTotalSubsLoaded"
        [footer]="totalSubsFooter"
      >
        <dashboard-subscription-items
          [subscriptions]="subscriptions"
        ></dashboard-subscription-items>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12 clr-col-12">
      <dashboard-card
        [header]="'monthly_expenses' | translate"
        [isLoaded]="isTotalSubsLoaded"
        [footer]="totalSubsFooter"
      >
        <div
          id="chartContainer"
          style="height: 45vh; width: 100%; max-width: 100%;"
        ></div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
  </div>
</section>
<section *ngIf="showEmptyState">
  <div class="clr-row">
    <div class="clr-col-lg-3"></div>
    <div class="clr-col-md-12 clr-col-sm-12 clr-col-12 clr-col-lg-6">
      <dashboard-card [isLoaded]="true">
        <div class="wrapper">
          <div class="content-wrapper">
            <h3>
              {{ "get_started_desc" | translate }}
            </h3>
            <h5>
              {{ "empty_state_message" | translate }}
            </h5>
          </div>
          <div class="img-wrapper">
            <img class="empty-state" src="assets/images/empty_state.svg" />
          </div>
          <div class="content-wrapper">
            <app-button
              [label]="'add' | translate"
              (onClick)="redirectToSubscriptions()"
              [classNames]="'btn btn-primary'"
            ></app-button>
          </div>
        </div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-3"></div>
  </div>
</section>
