<section>
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-8 clr-col-md-12 clr-col-12">
      <dashboard-card
        [header]="'subscription_summary' | translate"
        [isLoaded]="isTotalSubsLoaded"
      >
        <div class="card-text average-cost">
          <div>
            Year: <span class="highlight-price">R$ {{ priceInfo.year }}</span>
          </div>
          <div>
            Month: <span class="highlight-price">R$ {{ priceInfo.month }}</span>
          </div>
          <div>
            Weekly: <span class="highlight-price">R$ {{ priceInfo.week }}</span>
          </div>
        </div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-2"></div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-4 clr-col-12">
      <dashboard-card
        [header]="'subscriptions_page' | translate"
        [isLoaded]="isTotalSubsLoaded"
        [footer]="totalSubsFooter"
      >
        <dashboard-subscription-items
          [subscriptions]="subscriptions"
        ></dashboard-subscription-items>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-12">
      <dashboard-card
        [header]="'monthly_expenses' | translate"
        [isLoaded]="isTotalSubsLoaded"
        [footer]="totalSubsFooter"
      >
        <div
          id="chartContainer"
          style="height: 45vh; width: 100%;  max-width: 100%;"
        ></div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
  </div>
</section>
