<section>
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-8 clr-col-md-12 clr-col-12">
      <dashboard-card
        [header]="'subscription_summary' | translate"
        [isLoaded]="isTotalSubsLoaded"
      >
        <div class="card-text average-cost">
          <div>
            Year: <span class="highlight-price">R$ {{ priceInfo.year }}</span>
          </div>
          <div>
            Month: <span class="highlight-price">R$ {{ priceInfo.month }}</span>
          </div>
          <div>
            Weekly: <span class="highlight-price">R$ {{ priceInfo.week }}</span>
          </div>
        </div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-2"></div>

    <div class="clr-col-lg-2"></div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-4 clr-col-12">
      <dashboard-card
        [header]="'subscriptions_page' | translate"
        
        [footer]="totalSubsFooter"
      >
        <section style="height: 45vh; width: 100%;  max-width: 100%;" *ngIf="isTotalSubsLoaded">
          <div
            class="card-media-block with-align card-overflow"
            *ngFor="let sub of subscriptions.slice(0, 6)"
          >
            <img
              [src]="
                'assets/images/subscriptions/' +
                sub.subscriptionName.toLowerCase() +
                '.png'
              "
              class="card-media-image"
            />
            <div class="card-media-description">
              <span class="card-media-title">
                {{ sub.subscriptionName }}
              </span>
              <span class="card-media-text"> R$ {{ sub.price }} </span>
            </div>
          </div>
        </section>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-12">
      <dashboard-card
        [header]="'monthly_expenses' | translate"
        [isLoaded]="isTotalSubsLoaded"
        [footer]="totalSubsFooter"
      >
        <div
          id="chartContainer"
          style="height: 45vh; width: 100%;  max-width: 100%;"
        ></div>
      </dashboard-card>
    </div>
    <div class="clr-col-lg-2"></div>
  </div>

  <!-- <div class="clr-col-lg-4 clr-col-md-12 clr-col-12">
    <dashboard-card
      [header]="'monthly_expenses' | translate"
      [isLoaded]="isTotalSubsLoaded"
      [footer]="totalSubsFooter"
    >
      <div
        id="chartContainer2"
        style="height: 45vh; width: 100%;  max-width: 100%;"
      ></div>
    </dashboard-card>
  </div> -->
</section>
