.average-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlight-price {
  font-weight: 500;
  font-size: 1rem;
}

.with-align {
  align-items: center;
}

.card-media-title {
  font-weight: 700;
  text-transform: capitalize;
}

.total-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .highlight-price {
    font-size: 0.7rem;
    font-weight: 500;
  }
}
