<nav class="navbar navbar-classic">
  <div class="flex-container">
    <div class="top-nav">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png"/></a>
      <button
        (click)="toggleMenu()"
        class="btn btn-outline navbar-expand-lg navbar-toggler"
      >
        Menu
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end collapse"
      [ngClass]="{
        show: showMenu
      }"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-link nav-link">
            {{ "nav_home" | translate }}
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link">
            {{ "nav_faq" | translate }}
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link">
            {{ "nav_about_me" | translate }}
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link">
            {{ "register_action" | translate }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="landing-page bg-blue">
  <div class="flex-container">
    <div class="clr-row h-100 align-items-center">
      <div class="clr-col-md-6 clr-col-sm-12">
        <div class="align-items-center">
          <h1 class="tagline">Track your subscriptions expenses!</h1>
          <p class="mb-space">
            Tracking subscriptions expenses can be hard. That's why our mission
            is to help you to save your money, delivering an easy way to track
            all of your expenses and an analyser comparing prices of all
            subscriptions to notify whoever is paying more!
          </p>
          <button class="btn btn-primary main-action">
            {{ "get_started" | translate }}
          </button>
        </div>
      </div>
      <div class="clr-col-6 clr-col-sm-0">
        <img
          src="assets/images/home_1.svg"
          class="img-fluid mob-hide mob-fix"
          alt="Image not loaded"
        />
      </div>
    </div>
  </div>
</section>
<section class="landing-page">
  <div class="flex-container">
    <div class="clr-row h-100 align-items-center">
      <div class="clr-col-md-6 clr-col-sm-12">
        <div class="align-items-center">
          <h1 class="tagline">Track your subscriptions expenses!</h1>
          <p class="mb-space">
            Tracking subscriptions expenses can be hard. That's why our mission
            is to help you to save your money, delivering an easy way to track
            all of your expenses and an analyser comparing prices of all
            subscriptions to notify whoever is paying more!
          </p>
          <button class="btn btn-primary main-action">
            {{ "get_started" | translate }}
          </button>
        </div>
      </div>
      <div class="clr-col-6 clr-col-sm-0">
        <img
          src="assets/images/home_1.svg"
          class="img-fluid mob-hide mob-fix"
          alt="Image not loaded"
        />
      </div>
    </div>
  </div>
</section>
<section id="footer" class="space-big bg-blue">
  <div class="flex-container justify-content-center">
    <div class="clr-row">
      <div class="clr-col-12 mx-auto">
        <div class="footer-content center">
          <img src="assets/images/logo-2.png" />
          <p>© All right reserved. Assinômetro 2020.</p>
        </div>
      </div>
    </div>
  </div>
</section>
