<dashboard-card
  [isLoaded]="subscriptions"
  [header]="'subscriptions_page' | translate"
  [footer]="subsPickerFooter"
>
  <input
    #subscriptionInput
    name="subscription"
    class="clr-input full-width"
    (input)="onInput(subscriptionInput.value)"
    [placeholder]="'search_subscription' | translate"
  />
  <div class="subscriptions-wrapper">
    <div [id]="sub.name" [ngClass]="{'selected': sub.selected}" class="subscription-option" *ngFor="let sub of filteredSubs.length ? filteredSubs : subscriptions" (click)="toggleSubscription(sub)">
      <img
        [src]="'assets/images/subscriptions/' + sub.logo"
        class="card-media-image"
      />
      <span class="subscription-label"> {{ sub.name }} </span>
    </div>
  </div>
</dashboard-card>
