@import "~src/assets/variables";

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.6rem;
}

.login-wrapper {
  background: $primary-color;
}

.message-error {
  margin-top: 1rem !important;
}

.keep-distance {
  margin-bottom: 2rem;
}

label {
  display: none !important;
}

.img-title {
  display: flex;
  justify-content: center;
  .max-size {
    max-width: 200px;
    max-height: 60px;
  }
}



