<section [ngSwitch]="step">
  <section *ngSwitchCase="'email'">
    <app-email-step
      (onSubmit)="sendEmail($event)"
      [message]="message"
      [loadingState]="loadingState"
      [alertRole]="alertRole"
    ></app-email-step>
  </section>
  <section *ngSwitchCase="'code'">
    <app-code-step
      (onSubmit)="changeUserPassword($event)"
      [message]="message"
      [loadingState]="loadingState"
      [alertRole]="alertRole"
    ></app-code-step>
  </section>
</section>
