<div class="main-container">
  <header class="nav-header">
    <span class="brand-header">Assinômetro</span>
    <div class="menu-icon" (click)="toggleMenu()">
      <clr-icon class="end" size="36" shape="bars"></clr-icon>
    </div>
  </header>
  <div class="content-container">
    <div
      class="content-area"
      [ngClass]="{
        hide: showMenu
      }"
    >
      <router-outlet></router-outlet>
    </div>
    <nav
      class="sidenav sidenav-items collapse mob-full-size"
      id="disney"
      [ngClass]="{
        show: showMenu
      }"
    >
      <img class="side-nav-icon" src="assets/images/logo-3.png" />
      <div class="side-nav-line"></div>
      <app-button
        *ngFor="let item of menuItems"
        [action]="item.action"
        [label]="item.route + '_page' | translate"
        [classNames]="'btn btn-link with-margin-top'"
      ></app-button>
    </nav>
  </div>
</div>
