<div class="main-container">
  <header class="nav-header">
    <span class="brand-header">Assinômetro</span>
    <div class="menu-icon" (click)="toggleMenu()">
      <clr-icon class="end" size="36" shape="bars"></clr-icon>
    </div>
  </header>
  <div class="content-container" (click)="closeMenu()" *ngIf="isTotalSubsLoaded">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<dashboard-sidenav (close)="closeMenu()" [@slideInOut]="menuState"></dashboard-sidenav>
