@import "~src/assets/variables";

.brand-header {
  color: white;
  margin-left: 1rem;
  font-size: 1rem;
}

.nav-header {
  background: $clarity-blue-color;
  align-items: center;
  height: 60px;
}

.with-align {
  align-items: center;
}

.menu-icon {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .nav-header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .menu-icon {
    align-self: center;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .menu-icon {
    align-self: center;
    margin-right: 0.6rem;
    cursor: pointer;
  }

  .nav-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.justify-end {
  justify-self: end;
}
