<dashboard-card
  [header]="sub.subscriptionName"
  [isLoaded]="true"
  [logo]="sub.logo"
  *ngFor="let sub of subscriptions"
>
  <div class="card-media-block">
    <div [ngSwitch]="sub.type" class="form-wrapper">
      <div *ngSwitchCase="'INTERNET'">
        <app-internet-form></app-internet-form>
      </div>
      <div *ngSwitchCase="'TELEVISION'">
        <app-television-form></app-television-form>
      </div>
      <div *ngSwitchCase="'MOBILE'">
        <app-television-form></app-television-form>
      </div>
      <div *ngSwitchCase="'PHONE'">
        <app-television-form></app-television-form>
      </div>
      <div *ngSwitchDefault></div>
    </div>
  </div>
</dashboard-card>
