<div class="actions">
  <app-button
    [label]="'choose_existing' | translate"
    [classNames]="'btn btn-primary'"
    (onClick)="goBackAction()"
  ></app-button>
  <app-button
    [label]="'add_subscription' | translate"
    [classNames]="'btn btn-secondary'"
    (onClick)="openModalAction()"
  ></app-button>
</div>
<app-modal
  [show]="showDeleteModal"
  [header]="'delete' | translate"
  [label]="'delete' | translate"
  (onConfirm)="onDeleteAction()"
  [message]="'delete_message' | translate"
  (onCancel)="toggleModal()"
>
</app-modal>
<dashboard-card
  *ngFor="let sub of subscriptions; let i = index"
  [logo]="sub.logo"
  [header]="sub.subscriptionName"
  [isLoaded]="true"
  [rightButton]="true"
  (onClick)="onEdit($event, i)"
  (onDelete)="onDelete(i)"
>
  <section *ngIf="!sub.isEditing; else isEditingTemplate">
    <div class="card-content">
      <div>
        <span class="text"> {{ "form_type" | translate }}: </span>
        <span>
          {{ sub.type?.toLowerCase() | translate }}
        </span>
      </div>
      <div>
        <span class="text"> {{ "form_price" | translate }}: </span>
        <span
          >{{ sub.coin || "R$" }} {{ sub.price }} /
          <span>{{ sub.frequency?.toLowerCase() | translate }} </span></span
        >
      </div>
    </div>
  </section>
  <ng-template #isEditingTemplate>
    <div class="card-content">
      <form class="clr-form clr-form-compact form-flex">
        <clr-select-container>
          <label>{{ "form_frequency" | translate }}:</label>
          <select clrSelect name="options" [(ngModel)]="sub.frequency">
            <option
              class="capitalize"
              *ngFor="let option of options"
              [value]="option.value"
              >{{ option.label | translate }}</option
            >
          </select>
          <clr-control-error *clrIfError="'required'">{{
            "form_frequency_required" | translate
          }}</clr-control-error>
        </clr-select-container>

        <clr-input-container>
          <label>{{ "form_price" | translate }}:</label>
          <input
            name="price"
            type="number"
            clrInput
            [(ngModel)]="sub.price"
            [placeholder]="'form_price' | translate"
          />
          <clr-control-error *clrIfError="'required'">{{
            "form_price_required" | translate
          }}</clr-control-error>
        </clr-input-container>
      </form>
    </div>
  </ng-template>
</dashboard-card>
<div class="actions">
  <app-button
    [label]="'cancel' | translate"
    (onClick)="cancel()"
    [classNames]="'btn btn-outline'"
  ></app-button>
  <app-button
    [label]="'save' | translate"
    (onClick)="saveSubscriptionsAction()"
    [classNames]="'btn btn-primary'"
  ></app-button>
</div>
