.card-content {
  display: flex;
  flex-direction: column;
  .text {
  }
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  app-button {
  }
}