.card-content {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  app-button:nth-child(3) {
    margin-left: auto;
  }
}

.item-label {
  margin-right: 0.5rem;
}
