.card-content {
  display: flex;
  flex-direction: column;
}

.text {
  color: #454545;
  line-height: 0.9rem;
  font-weight: 600;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-items: center;
  flex-direction: row;
}

.capitalize {
  text-transform: capitalize;
}

@media (min-width: 576px) {
  .flex-container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .actions-top {
    margin-top: 1rem;
    display: flex;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}