<div class="modal" *ngIf="show">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button
          (click)="onCancelAction()"
          aria-label="Close"
          class="close"
          type="button"
        >
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{ "subscription" | translate }}</h3>
      </div>
      <div class="modal-body">
        <form
          class="form-flex"
          clrForm
          [formGroup]="subForm"
          clrLayout="horizontal"
          (ngSubmit)="addSubscription()"
        >
          <clr-input-container>
            <label>{{ "form_subscriptionName" | translate }}</label>
            <input
              clrInput
              formControlName="subscriptionName"
              [placeholder]="'form_subscriptionName' | translate"
            />
            <clr-control-error *clrIfError="'required'">{{
              "form_subscriptionName_required" | translate
            }}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>{{ "form_price" | translate }}</label>
            <input
              clrInput
              type="number"
              formControlName="price"
              [placeholder]="'form_price' | translate"
            />
            <clr-control-error *clrIfError="'required'">{{
              "form_price_required" | translate
            }}</clr-control-error>
          </clr-input-container>
          <clr-select-container>
            <label>{{ "form_type" | translate }}</label>
            <select clrSelect formControlName="type">
              <option
                class="capitalize"
                *ngFor="let type of types"
                [value]="type.value"
                >{{ type.label | translate }}</option
              >
            </select>
            <clr-control-error *clrIfError="'required'">{{
              "form_type_required" | translate
            }}</clr-control-error>
          </clr-select-container>
          <clr-select-container>
            <label>{{ "form_frequency" | translate }}</label>
            <select clrSelect formControlName="frequency">
              <option
                class="capitalize"
                *ngFor="let option of options"
                [value]="option.value"
                >{{ option.label | translate }}</option
              >
            </select>
            <clr-control-error *clrIfError="'required'">{{
              "form_frequency_required" | translate
            }}</clr-control-error>
          </clr-select-container>
          <div class="modal-footer">
            <button (click)="onCancelAction()" class="btn btn-sm btn-link">
              {{ "cancel" | translate }}
            </button>

            <button type="submit" class="btn btn-sm btn-primary">
              {{ "create" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
