<section *ngFor="let sub of subscriptions">
  <dashboard-card
    [header]="sub.subscriptionName"
    [isLoaded]="true"
    [logo]="sub.logo"
    *ngIf="!showDeal"
  >
    <div class="card-media-block">
      <div class="card-content">
        <div>
          <span class="text"> {{ "form_type" | translate }}: </span>
          <span class="value">
            {{ sub.type?.toLowerCase() | translate }}
          </span>
        </div>
        <div>
          <span class="text"> {{ "form_price" | translate }}: </span>
          <span class="value"
            >{{ sub.coin || "R$" }} {{ sub.price }} /
            <span>
              {{ sub.frequency?.toLowerCase() | translate }}
            </span></span
          >
        </div>
        <div>
          <span class="text" *ngIf="!sub.result">
            {{ "no_better_offer" | translate }}
          </span>
          <span
            class="text clickable"
            (click)="toggleDeal(sub.subscriptionName)"
            *ngIf="sub.result > 0"
          >
            {{ "check_better_offers" | translate }}
          </span>
          <!-- <span class="text clickable" *ngIf="sub.result > 20 && sub.result <= 40">
            {{ "check_better_offers" | translate }}
          </span>
          <span class="text clickable" *ngIf="sub.result > 40 && sub.result <= 60">
            {{ "check_better_offers" | translate }}
          </span>
          <span class="text clickable" *ngIf="sub.result > 60 && sub.result <= 80">
            {{ "check_better_offers" | translate }}
          </span>
          <span class="text clickable" *ngIf="sub.result > 80 && sub.result <= 100">
            {{ "check_better_offers" | translate }}
          </span> -->
        </div>
      </div>
    </div>
  </dashboard-card>
  <app-better-deals
    *ngIf="showDeal && currentSub === sub.subscriptionName"
    (goBack)="toggleDeal()"
    [betterDeals]="sub.betterSubs"
  ></app-better-deals>
</section>
<div *ngIf="!showDeal" class="actions">
  <app-button
    [label]="'go_back' | translate"
    (onClick)="goBackAction()"
    [classNames]="'btn btn-primary'"
  ></app-button>
</div>
