/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  padding: 0px;
  width: 100vw;
  margin: 0px;
}

.with-margin {
  margin: 1.4rem 0 0 0 !important;
}

.full-width {
  width: 100%;
}

.with-margin-top {
  margin-top: 1rem;
}

.canvasjs-chart-credit {
  display: none !important;
}

.canvasjs-chart-canvas {
  max-width: 100%;
}
