@import "~src/assets/variables";

html,
body {
  height: 100%;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

.with-margin {
  margin: 1.4rem 0 0 0 !important;
}

.full-width {
  width: 100%;
}

.with-margin-top {
  margin-top: 1rem;
}

.horizontal-form {
  display: flex;
  flex-direction: column;
}
.item-wrapper {
  display: flex;
  flex-direction: row;
}

.clr-select-wrapper {
  width: 100%;
}

.canvasjs-chart-credit {
  display: none !important;
}

.canvasjs-chart-canvas {
  max-width: 100%;
}

.bg-blue {
  background: $primary-color !important;
}

.white-color {
  color: $secondary-color !important;
}

.blue-color {
  color: $primary-color !important;
}

.form-flex {
  width: 95%;

  .clr-control-container {
    display: block;
    width: 100%;

    // Override to make select full width
    .clr-select-wrapper,
    .clr-select {
      width: 100%;
    }

    // Override to make search full width
    .hf-search-wrapper > .hf-search,
    .hf-search-select-input,
    .hf-search-input-text-container {
      width: 100%;
    }

    // Override to make input full width
    .clr-input-wrapper > .clr-input {
      width: 100%;
    }

    // Override to make password full width
    .clr-input-wrapper {
      width: 100%;

      & > .clr-input-group {
        max-width: 100%;
        width: 100%;
        padding-right: 0.4rem;

        & > input {
          width: calc(100% - 1rem);
        }
      }
    }
  }
}