@import "~src/assets/variables";

html,
body {
  height: 100%;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

.with-margin {
  margin: 1.4rem 0 0 0 !important;
}

.full-width {
  width: 100%;
}

.with-margin-top {
  margin-top: 1rem;
}

.horizontal-form {
  display: flex;
  flex-direction: column;
}
.item-wrapper {
  display: flex;
  flex-direction: row;
}

.canvasjs-chart-credit {
  display: none !important;
}

.canvasjs-chart-canvas {
  max-width: 100%;
}

.bg-blue {
  background: $primary-color !important;
}

.white-color {
  color: $secondary-color !important;
}

.blue-color {
  color: $primary-color !important;
}
