.average-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlight-price {
  font-weight: 500;
  font-size: 1rem;
}

.with-align {
  align-items: center;
}

.total-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}