<div class="clr-row">
  <div class="clr-col-lg-4 thirty"></div>
  <div class="clr-col-lg-4 sixty clr-col-12 clr-col-md-12 clr-col-sm-12">
    <section *ngIf="!isLoading">
      <app-alert
        *ngIf="message"
        class="custom-alert"
        [message]="message"
        [role]="alertRole"
        (close)="closeAlert()"
      ></app-alert>
      <app-subscriptions-picker
        *ngIf="showSubscriptionPicker"
        (confirmSubs)="onConfirmSubs($event)"
        [subscriptions]="subscriptions"
      ></app-subscriptions-picker>
      <section *ngIf="!showSubscriptionPicker">
        <app-confirmed-subs
          (openModal)="toggleModal()"
          (goBack)="goBack()"
          (onSave)="saveSubscriptions($event)"
          (onDeleteSubscription)="onDeleteSub($event)"
          (onCancel)="onCancel()"
          [subscriptions]="confirmedSubs"
        ></app-confirmed-subs>
      </section>
      <app-new-subscription
        [show]="showModal"
        (onClose)="toggleModal()"
        (onConfirm)="createSubscription($event)"
      ></app-new-subscription>
    </section>
  </div>
  <div class="clr-col-lg-4 thirty"></div>
</div>
<div *ngIf="isLoading" class="spinner-center">
  <span class="spinner spinner-lg"> </span>
</div>
